@charset "UTF-8";

@import "normalize";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/header";
@import "blocks/menu";
@import "blocks/banner";
@import "blocks/advantages";
@import "blocks/works";
@import "blocks/responsive";
@import "blocks/list";
@import "blocks/skills";
@import "blocks/progress";
@import "blocks/blog";
@import "blocks/clients";
@import "blocks/carousel/owl.carousel";
@import "blocks/carousel/owl.theme.default";
@import "blocks/contacts";
@import "blocks/form";