$inputBg: #202020;

.form {

    label {
        @include visually-hidden;
    }
}

.form__input {
    margin-bottom: 20px;

    input, textarea {
        border-radius: 10px;
        background-color: $inputBg;
        width: 100%;
        display: block;
        border: none;
        box-shadow: none;
        resize: none;
        font-size: 20px;
        font-family: 'Raleway';
        color: $white;
        line-height: 1.4;
        padding: 16px 10px 16px 30px;
        box-sizing: border-box;

        &::placeholder {
            color: $white;
            opacity: 1;
        }
    }

    textarea {
        min-height: 200px;
    }

}

.form__button {
    border-radius: 10px;
    width: 100%;
    background-color: $second;
    border: none;
    box-shadow: none;
    appearance: none;
    padding: 16px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway';
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    transition-duration: 500ms;
    transition-property: background-color;

    &:hover, &:active {
        background-color: darken($second, 15%);
    }

}